
releases/release 1/manifest.json
releases/release 1/javascript.js
releases/release 1/index.html
releases/release 1/customize.css
releases/release 1/assets/style.css
releases/release 1/assets/icons/youtube.png
releases/release 1/assets/icons/twitter.png
releases/release 1/assets/icons/figma.png
releases/release 1/assets/icons/favicon.png
releases/release 1/assets/icons/discord.png
releases/release 1/assets/bg.png
