@font-face {
    font-family: 'SF Pro Expanded';
    src: url('SFPro-Expanded-Ultralight.ttf') format('ttf'),
        url('SFPro-Expanded-Ultralight.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Expanded';
    src: url('SFPro-Expanded-Thin.ttf') format('ttf'),
        url('SFPro-Expanded-Thin.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Expanded';
    src: url('SFPro-Expanded-Light.ttf') format('ttf'),
        url('SFPro-Expanded-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Expanded';
    src: url('SFPro-Expanded-Regular.ttf') format('ttf'),
        url('SFPro-Expanded-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Expanded';
    src: url('SFPro-Expanded-Medium.ttf') format('ttf'),
        url('SFPro-Expanded-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Expanded';
    src: url('SFPro-Expanded-Semibold.ttf') format('ttf'),
        url('SFPro-Expanded-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Expanded';
    src: url('SFPro-Expanded-Bold.ttf') format('ttf'),
        url('SFPro-Expanded-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Expanded';
    src: url('SFPro-Expanded-Heavy.ttf') format('ttf'),
        url('SFPro-Expanded-Heavy.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Expanded';
    src: url('SFPro-Expanded-Black.ttf') format('ttf'),
        url('SFPro-Expanded-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

